.open-sans-bold {
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  font-style: normal;
}

p,
a {
  font-family: "Open Sans", serif;
  font-weight: 500;
  font-style: normal;
}
.no-decor {
  text-decoration: none;
}

.colour-console {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.d-flex .colour-holder {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 200px;
  width: 10vw;
  height: 10vw;
  min-height: 200px;
  text-align: center;
}

.d-flex .colour-holder-small {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2rem;
}
